html,
body{
    height: 100%;
    width: 100%;
}

table,
th,
td {
    border-width: 10px;
    border-color: chocolate;
    border-style: groove;
    align-items: center;
    vertical-align: middle;
}

iframe {
    width: 100%;
    height: 100%;
}