html,
body {
    height: 100%;
    width: 100%;
    background-color: lemonchiffon;
}

td {
    border-width: 5px;
    border-color: chocolate;
    border-style: groove;
    align-items: center;
    vertical-align: middle;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

a {
    color: red;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: larger;
}